.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 15px black;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #4b4b4b;
}
.submitBtn{
    background-color: crimson;
    border-color: black;
    border-radius: 5px;
}
.submitBtn:hover{
    background-color: pink;
}
.updateBtn{
    background-color: rgb(71, 187, 42);
    border-radius: 5px;
    border-color: black;
}
.updateBtn:hover{
    background-color: rgb(76, 128, 63);
}
.ChangeTitle{
    border-radius: 5px;
    border-color: black;
}
.ChangeTitle:hover{
    background-color: rgb(114, 117, 117);
}
